html {
    font-family: ui-sans-serif,system-ui,sans-serif;
    scroll-behavior: smooth;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background: white;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 1;
    
    margin-bottom: 36px;
}

.navbar>img {
    height: 72px;
    margin-top: 8px;
    cursor: pointer;
}

.navbar_menu {
    display: flex;
    gap: 20px;
}

.navbar_item {
    text-decoration: none;
    color: black;
    font-weight: 460;
    font-size: 16px;
    display: flex;
    align-items: center; 
}

.navbar_item:hover {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    color: rgb(100, 19, 175);
    transition: ease 0.1s;
}

@media (max-width: 740px) {
    .navbar {
        padding: 0 8px;
    }

    .navbar_menu {
        display: none;
    }
}

.navbar_icon {
    width: 40px;
    height: 40px;
    --tw-gradient-from: #3545fb;
    --tw-gradient-to: #a963ff;
    background-image: linear-gradient(to left, var(--tw-gradient-from), var(--tw-gradient-to));
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar_icon:hover {
    --tw-gradient-from: #000d9ecb;
    --tw-gradient-to: #4800a1ae;
    background-image: linear-gradient(to left, var(--tw-gradient-from), var(--tw-gradient-to));
    
}

.navbar_icon img {
    width: 20px;
    height: 20px;
}

@media (min-width: 740px) { 
    .navbar_icon {
        display: none;
    }
}

/* sidebar */
.sidebar {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #00000028;
    backdrop-filter: blur(3px);
    z-index: 2;
}

.sidebar.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar_container {
    background-color: #fff;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 20px 20px 0;

    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;

    
}

.sidebar_container.hide {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.sidebar_header .logo {
    margin-top: 8px;
    margin-left: 8px;
    height: 72px;
}

.sidebar_header .x {
    height: 44px;
    padding: 8px;
    margin: 16px 26px 10px 0;
    border: 1px solid #7e7e7e66;
    border-radius: 30%;

    cursor: pointer;
}

.sidebar_header .x:hover {
    border: 1.5px solid #4400ff;
    transition: 0.5s;
}

.sidebar_item {
    font-size: 24px;
    padding: 16px;
    border-bottom: 1px solid #4400ff78;
    width: 90%;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgb(16, 0, 39);
    line-height: 28px;
}

.sidebar_item:hover {
    color: #240088;
    font-size: 28px;
}

.item_ct {
    border-bottom: none;
    margin-top: 16px;
}

.item_ct a {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    
}

.item_ct a img {
    height: 60px;
    width: 60px;
    background-color: #232eaa;
    border-radius: 50%;
}

.item_ct a img:hover {
    height: 70px;
    width: 70px;
}

.sidebar_overlay {
    background-color: #00000000;
    width: 20%;
    height: 100%;
}


/* Giới thiệu */
.gt_container {
    background-image: url(./source/gt/gt-nen.png);
    background-repeat: no-repeat;
    
    border-radius: 1.5rem;
    background-size: cover;
}

.special {
    font-size: 1.4rem;
    font-family: "Jura", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  
    line-height: 56px;
    max-width: 360px;
    width: 98%;
    height: 56px;
    margin: 0 auto;
    text-align: center;
    border-radius: 14px;
    color: #fff;
    --tw-gradient-from: #fbb935;
    --tw-gradient-to: #a863ff;
    background-image: linear-gradient(to right, var(--tw-gradient-from), var(--tw-gradient-to));
    
    position: relative;
    transform: translate(0, -28px);

}

.special img {
    vertical-align: middle;
    padding-bottom: 6px;
    height: 45px;
}

.gt_item {
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.gt_desc {
    background-image: url(./source/gt/nen-chu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 22px 0px 26px 0px;
    max-width: 300px;
    width: 80%;

    text-align: center;
    background-position: center;

    color: #fff;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 14px;
}

.gt_img {
    aspect-ratio: 1 / 1;
    width: 40%;
    
}

@media (min-width: 1023px) {
    .a1 {
        margin-top: 70px;
    }
}

@media (max-width: 400px) {
    .gt_desc {
        padding: 12px 12px 16px 12px;
        max-width: 300px;
        width: 90%;    
        font-weight: 500;
        font-size: 12px;
    }
}


.gt_left {
    transform: translateX(-80%);
    opacity: 0;
    scale: 0;
}

.gt_right {
    transform: translateX(80%);
    opacity: 0;
    scale: 0;
}


.visible_gt {
    transform: translateX(0%);
    opacity: 1;
    scale: 1;
    transition: opacity 2s, transform 2s ease;

}

/* room */
.room_container {
    margin-top: 5%;
}


.room_item {
    width: 95%;
    max-width: 400px;
    border-radius: 26px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 0px 20px rgba(129, 75, 217, 0.425);
    
    margin: 20px auto;
    position: relative;

    opacity: 0.3;
    transform: scale(0.6) translateY(-50px);
    transition: opacity 3s ease, transform 5s ease;
}

.room_item.visible {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.room_border {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
}

.room_image {
    margin: 4px 4px 0px 4px;
    overflow: hidden;
    position: relative;
    border-radius: 22px 22px 0 0;
    
    display: flex;
}



.room_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.room_content {
    padding: 10px 20px 16px;
}

.tag_container {
    display: flex;
    justify-content: flex-end;
}

.tag {
    display: inline-block;
    --tw-gradient-from: #3545fb;
    --tw-gradient-to: #a863ff;
    background-image: linear-gradient(to right, var(--tw-gradient-from), var(--tw-gradient-to));
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    margin: 8px;
    text-decoration: none;
}

.tag:hover {
    color: #110050;
    --tw-gradient-from: #3545fb7f;
    --tw-gradient-to: #a963ff8e;
    background-image: linear-gradient(to left, var(--tw-gradient-from), var(--tw-gradient-to));
}

.room_desc1 {
    font-size: 16px;
    margin: 4px 0;
    font-weight: bold;
}

.room_desc2 {
    font-size: 14px;
    color: gray;
}

/* Liên hệ */

.contact {
    margin-top: 5%;
    margin-bottom: 100px;
}
.contact_container {
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(129, 75, 217, 0.425);
    padding: 20px;
    max-width: 95%;
    margin: 0 auto;
}

.contact_item_1 {
    text-align: center;
    background: white;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
}
.contact_item_1 .anh {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #c8adee;
}
.contact_item_1 h1 {
    font-size: 24px;
    margin: 10px 0;
}
.contact_item_1 p {
    font-size: 14px;
    color: #555;
}
.italic {
    font-style: italic;
}


.contact_item_2 {
    display: flex;
    flex-direction: column;
    margin: 20% auto;
    width: 80%;
}
.contact_item_2 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #232eaa;
    border: 2px solid #232eaa;
    padding: 10px 20px;
    margin: 12px;
    border-radius: 30px;
    transition: 0.3s;
}

.ct_it_2_container {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;   
    width: 150px; 
}

.contact_item_2 a:hover {
    background-color: #232eaa;
    color: white;
}
.contact_item_2 img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

@media (min-width: 504px) and (max-width: 1023px) {
    .contact_item_2 a {
        justify-content: center;
    }
}

@media (max-width: 1023px) {
    .contact_item_2 {
        margin: 12px auto;
    }
}

@media (max-width: 504px) {
    .contact_item_2 {
        width: 90%;
    }

    .contact_item_2 a {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 0; 
    height: 0; 
}


.footer {
    display: flex;
    justify-content: center;
    color: #555555c3;
    font-style: italic;
    line-height: 50px;
    
}